<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wan37.mysql.pojo.mapper.TAuctionItemMapper" >
  <resultMap id="BaseResultMap" type="com.wan37.mysql.pojo.entity.TAuctionItem" >
    <id column="auction_id" property="auctionId" jdbcType="INTEGER" />
    <result column="thing_info_id" property="thingInfoId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="auction_price" property="auctionPrice" jdbcType="INTEGER" />
    <result column="auction_mode" property="auctionMode" jdbcType="INTEGER" />
    <result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
    <result column="bidders" property="bidders" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    auction_id, thing_info_id, number, auction_price, auction_mode, push_time, bidders
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wan37.mysql.pojo.entity.TAuctionItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_auction_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_auction_item
    where auction_id = #{auctionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_auction_item
    where auction_id = #{auctionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wan37.mysql.pojo.entity.TAuctionItemExample" >
    delete from t_auction_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wan37.mysql.pojo.entity.TAuctionItem" >
    insert into t_auction_item (auction_id, thing_info_id, number, 
      auction_price, auction_mode, push_time, 
      bidders)
    values (#{auctionId,jdbcType=INTEGER}, #{thingInfoId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{auctionPrice,jdbcType=INTEGER}, #{auctionMode,jdbcType=INTEGER}, #{pushTime,jdbcType=TIMESTAMP}, 
      #{bidders,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wan37.mysql.pojo.entity.TAuctionItem" >
    insert into t_auction_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auctionId != null" >
        auction_id,
      </if>
      <if test="thingInfoId != null" >
        thing_info_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="auctionPrice != null" >
        auction_price,
      </if>
      <if test="auctionMode != null" >
        auction_mode,
      </if>
      <if test="pushTime != null" >
        push_time,
      </if>
      <if test="bidders != null" >
        bidders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auctionId != null" >
        #{auctionId,jdbcType=INTEGER},
      </if>
      <if test="thingInfoId != null" >
        #{thingInfoId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="auctionPrice != null" >
        #{auctionPrice,jdbcType=INTEGER},
      </if>
      <if test="auctionMode != null" >
        #{auctionMode,jdbcType=INTEGER},
      </if>
      <if test="pushTime != null" >
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidders != null" >
        #{bidders,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wan37.mysql.pojo.entity.TAuctionItemExample" resultType="java.lang.Integer" >
    select count(*) from t_auction_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_auction_item
    <set >
      <if test="record.auctionId != null" >
        auction_id = #{record.auctionId,jdbcType=INTEGER},
      </if>
      <if test="record.thingInfoId != null" >
        thing_info_id = #{record.thingInfoId,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.auctionPrice != null" >
        auction_price = #{record.auctionPrice,jdbcType=INTEGER},
      </if>
      <if test="record.auctionMode != null" >
        auction_mode = #{record.auctionMode,jdbcType=INTEGER},
      </if>
      <if test="record.pushTime != null" >
        push_time = #{record.pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bidders != null" >
        bidders = #{record.bidders,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_auction_item
    set auction_id = #{record.auctionId,jdbcType=INTEGER},
      thing_info_id = #{record.thingInfoId,jdbcType=INTEGER},
      number = #{record.number,jdbcType=INTEGER},
      auction_price = #{record.auctionPrice,jdbcType=INTEGER},
      auction_mode = #{record.auctionMode,jdbcType=INTEGER},
      push_time = #{record.pushTime,jdbcType=TIMESTAMP},
      bidders = #{record.bidders,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wan37.mysql.pojo.entity.TAuctionItem" >
    update t_auction_item
    <set >
      <if test="thingInfoId != null" >
        thing_info_id = #{thingInfoId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="auctionPrice != null" >
        auction_price = #{auctionPrice,jdbcType=INTEGER},
      </if>
      <if test="auctionMode != null" >
        auction_mode = #{auctionMode,jdbcType=INTEGER},
      </if>
      <if test="pushTime != null" >
        push_time = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidders != null" >
        bidders = #{bidders,jdbcType=VARCHAR},
      </if>
    </set>
    where auction_id = #{auctionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wan37.mysql.pojo.entity.TAuctionItem" >
    update t_auction_item
    set thing_info_id = #{thingInfoId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      auction_price = #{auctionPrice,jdbcType=INTEGER},
      auction_mode = #{auctionMode,jdbcType=INTEGER},
      push_time = #{pushTime,jdbcType=TIMESTAMP},
      bidders = #{bidders,jdbcType=VARCHAR}
    where auction_id = #{auctionId,jdbcType=INTEGER}
  </update>
</mapper>