<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wan37.mysql.pojo.mapper.TPlayerMapper" >
  <resultMap id="BaseResultMap" type="com.wan37.mysql.pojo.entity.TPlayer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hp" property="hp" jdbcType="BIGINT" />
    <result column="exp" property="exp" jdbcType="INTEGER" />
    <result column="mp" property="mp" jdbcType="BIGINT" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="scene" property="scene" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="equipments" property="equipments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, hp, exp, mp, position, state, scene, user_id, equipments
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wan37.mysql.pojo.entity.TPlayerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_player
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_player
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_player
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wan37.mysql.pojo.entity.TPlayerExample" >
    delete from t_player
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wan37.mysql.pojo.entity.TPlayer" >
    insert into t_player (id, name, hp, exp, 
      mp, position, state, 
      scene, user_id, equipments
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{hp,jdbcType=BIGINT}, #{exp,jdbcType=INTEGER}, 
      #{mp,jdbcType=BIGINT}, #{position,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{scene,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{equipments,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wan37.mysql.pojo.entity.TPlayer" >
    insert into t_player
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="hp != null" >
        hp,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="mp != null" >
        mp,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="scene != null" >
        scene,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="equipments != null" >
        equipments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hp != null" >
        #{hp,jdbcType=BIGINT},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="mp != null" >
        #{mp,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="scene != null" >
        #{scene,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="equipments != null" >
        #{equipments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wan37.mysql.pojo.entity.TPlayerExample" resultType="java.lang.Integer" >
    select count(*) from t_player
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_player
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.hp != null" >
        hp = #{record.hp,jdbcType=BIGINT},
      </if>
      <if test="record.exp != null" >
        exp = #{record.exp,jdbcType=INTEGER},
      </if>
      <if test="record.mp != null" >
        mp = #{record.mp,jdbcType=BIGINT},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.scene != null" >
        scene = #{record.scene,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.equipments != null" >
        equipments = #{record.equipments,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_player
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      hp = #{record.hp,jdbcType=BIGINT},
      exp = #{record.exp,jdbcType=INTEGER},
      mp = #{record.mp,jdbcType=BIGINT},
      position = #{record.position,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      scene = #{record.scene,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      equipments = #{record.equipments,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wan37.mysql.pojo.entity.TPlayer" >
    update t_player
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hp != null" >
        hp = #{hp,jdbcType=BIGINT},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="mp != null" >
        mp = #{mp,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="scene != null" >
        scene = #{scene,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="equipments != null" >
        equipments = #{equipments,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wan37.mysql.pojo.entity.TPlayer" >
    update t_player
    set name = #{name,jdbcType=VARCHAR},
      hp = #{hp,jdbcType=BIGINT},
      exp = #{exp,jdbcType=INTEGER},
      mp = #{mp,jdbcType=BIGINT},
      position = #{position,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      scene = #{scene,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      equipments = #{equipments,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>