<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wan37.mysql.pojo.mapper.TQuestProgressMapper" >
  <resultMap id="BaseResultMap" type="com.wan37.mysql.pojo.entity.TQuestProgress" >
    <id column="player_id" property="playerId" jdbcType="BIGINT" />
    <id column="mission_id" property="missionId" jdbcType="INTEGER" />
    <result column="mission_state" property="missionState" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="progress" property="progress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    player_id, mission_id, mission_state, begin_time, end_time, progress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wan37.mysql.pojo.entity.TQuestProgressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_quest_progress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.wan37.mysql.pojo.entity.TQuestProgressKey" >
    select 
    <include refid="Base_Column_List" />
    from t_quest_progress
    where player_id = #{playerId,jdbcType=BIGINT}
      and mission_id = #{missionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wan37.mysql.pojo.entity.TQuestProgressKey" >
    delete from t_quest_progress
    where player_id = #{playerId,jdbcType=BIGINT}
      and mission_id = #{missionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wan37.mysql.pojo.entity.TQuestProgressExample" >
    delete from t_quest_progress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wan37.mysql.pojo.entity.TQuestProgress" >
    insert into t_quest_progress (player_id, mission_id, mission_state, 
      begin_time, end_time, progress
      )
    values (#{playerId,jdbcType=BIGINT}, #{missionId,jdbcType=INTEGER}, #{missionState,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{progress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wan37.mysql.pojo.entity.TQuestProgress" >
    insert into t_quest_progress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="playerId != null" >
        player_id,
      </if>
      <if test="missionId != null" >
        mission_id,
      </if>
      <if test="missionState != null" >
        mission_state,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="progress != null" >
        progress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="playerId != null" >
        #{playerId,jdbcType=BIGINT},
      </if>
      <if test="missionId != null" >
        #{missionId,jdbcType=INTEGER},
      </if>
      <if test="missionState != null" >
        #{missionState,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wan37.mysql.pojo.entity.TQuestProgressExample" resultType="java.lang.Integer" >
    select count(*) from t_quest_progress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_quest_progress
    <set >
      <if test="record.playerId != null" >
        player_id = #{record.playerId,jdbcType=BIGINT},
      </if>
      <if test="record.missionId != null" >
        mission_id = #{record.missionId,jdbcType=INTEGER},
      </if>
      <if test="record.missionState != null" >
        mission_state = #{record.missionState,jdbcType=INTEGER},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.progress != null" >
        progress = #{record.progress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_quest_progress
    set player_id = #{record.playerId,jdbcType=BIGINT},
      mission_id = #{record.missionId,jdbcType=INTEGER},
      mission_state = #{record.missionState,jdbcType=INTEGER},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      progress = #{record.progress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wan37.mysql.pojo.entity.TQuestProgress" >
    update t_quest_progress
    <set >
      <if test="missionState != null" >
        mission_state = #{missionState,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=VARCHAR},
      </if>
    </set>
    where player_id = #{playerId,jdbcType=BIGINT}
      and mission_id = #{missionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wan37.mysql.pojo.entity.TQuestProgress" >
    update t_quest_progress
    set mission_state = #{missionState,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      progress = #{progress,jdbcType=VARCHAR}
    where player_id = #{playerId,jdbcType=BIGINT}
      and mission_id = #{missionId,jdbcType=INTEGER}
  </update>
</mapper>